@import 'tailwindcss';

:root {
  --app-sidebar-width: 300px;
  /* TODO: This hardcoded value is the same as `--el-header-height`. */
  /* We should use app variables to overwrite el variables someday. */
  --app-header-height: 60px;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  overflow-y: auto;
  scroll-behavior: smooth;
  /* TODO: `1rem` is somehow unreliable due to different browsers may have different default font size. */
  scroll-padding-top: calc(var(--app-header-height) + 1rem);
}
.iconify {
  color: var(--el-menu-text-color);
}

/* shiki themes */
/* I don't know why but without the non-dark styles, shiki always shows dark mode :( */
/* And the dark styles seem unnecessary. It's the opposite of the doc! */
html .shiki,
html .shiki span {
  background-color: var(--shiki-bg) !important;
  font-style: var(--shiki-font-style) !important;
  font-weight: var(--shiki-font-weight) !important;
  text-decoration: var(--shiki-text-decoration) !important;
}

/* Tailwindcs dark mode, function without prefers-color-scheme media query */
@custom-variant dark (&:where(.dark, .dark *));
