@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --app-sidebar-width: 300px;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.iconify {
  color: var(--el-menu-text-color);
}
