@import 'tailwindcss';

:root {
  --app-sidebar-width: 300px;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  overflow-y: auto;
}
.iconify {
  color: var(--el-menu-text-color);
}

/* shiki themes */
/* I don't know why but without the non-dark styles, shiki always shows dark mode :( */
/* And the dark styles seem unnecessary. It's the opposite of the doc! */
html .shiki,
html .shiki span {
  background-color: var(--shiki-bg) !important;
  font-style: var(--shiki-font-style) !important;
  font-weight: var(--shiki-font-weight) !important;
  text-decoration: var(--shiki-text-decoration) !important;
}

/* Tailwindcs dark mode, function without prefers-color-scheme media query */
@custom-variant dark (&:where(.dark, .dark *));
